 <!-- Footer -->
<style>
    .col-lg-8.text-center.mx-auto p a {
        color: white;
    }

        .col-lg-8.text-center.mx-auto p a:hover {
            background-color: white;
            color: black;
            border-radius: 4px;
        }
</style>

<footer class="py-5 bg-dark col-md-12">

    <div class="row">
        <div class="col-lg-4 text-center">
            <h6 class="text-light bg-dark">
                Site Haritası
            </h6>
            <hr color="white" width="230px" />
            <div class="col-lg-8 text-center mx-auto">
                <p>
                    <a class="nav-link" href="#"><i class="bi bi-bookmark-heart"></i> En Beğenilenler</a><br />
                    <a class="nav-link" href="#"><i class="bi bi-award"></i> Son Yazılar</a><br />
                    <a class="nav-link" href="/Home/About"><i class="bi bi-info-circle"></i> Hakkımızda</a><br />
                </p>
            </div>

        </div>

        <div class="col-lg-4 text-center">
            <h6 class="text-light bg-dark">
                My Every Note
            </h6>
            <hr color="white" width="230px" />
            <p class="m-0 text-center text-white">Copyright <br /> &copy; My Every Note @DateTime.Now.Year</p>
        </div>

        <div class="col-lg-4 text-center">
            <h6 class="text-light bg-dark">
                E-Bülten Üyeliği
            </h6>
            <hr color="white" width="230px" />
            <div class="col-md-10 mx-auto">
                <p style="color:white;">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum.</p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="E-posta Adresiniz." aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">Gönder</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>
